:root{
    --primary-color-one: #FCFCF9;
    --primary-color-two: #0070BB;
    --accent-color-one: #FFD800;
    --accent-color-two: #8A7642;
}
img{
    max-width: 1000px;
    height: auto;
}
.hero img{
    display: block;
    width: 100%;
    height: auto;
}
header{
        margin: 1rem auto;
        display: grid;
        grid-template-columns: 2/3;
        border-bottom: 1px solid black;
        max-width: 1000px;
}
.logo img {
    justify-content: left;
	height: 64px;
	width: auto;
}
header nav{
    display: grid;
    
}

body{
    margin: 1rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}
footer{
    margin-top: 10px;
    border-top: 1px solid var(--accent-color-two);
    text-align: center;
}
footer img{
    max-width: 100px;

}
a{
    text-decoration: none;

}