:root{
    --primary-color-one: #FCFCF9;
    --primary-color-two: #0070BB;
    --accent-color-one: #FFD800;
    --accent-color-two: #8A7642;
    --heading-font: "Noto Sans", sans-serif;
    --text-font: "Fira sans condensed", sans-serif;

}
body{
    margin: 1rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 400;
    background-color: var(--primary-color-one);
}
h1, h2, h3, h4, h5{
    font-family: "Noto Sans", sans-serif;
    font-weight: 100;
    background-color: var(--accent-color-one);
    color: var(--accent-color-two);
}
p{
    color: var(--primary-color-two);
}
img{
    max-width: 1000px;
    height: auto;
}

header{
        margin: 1rem auto;
        display: grid;
        grid-template-columns: 2/3;
        border-bottom: 1px solid black;
        max-width: 1000px;
        background-color: var(--primary-color-two);
}

header nav{
    
    
}
article{
    background-color: rgba(0, 0, 10, .5);
}
article p{
    color: var(--primary-color-one);
}
footer{
    margin-top: 10px;
    border-top: 1px solid var(--accent-color-two);
    text-align: center;
}
footer img{
    max-width: 100px;

}
.hero{
    position: relative;
}
.hero h1, article{
    position: absolute;
    top: 50px;
    left: 50px;
    padding: 1rem;
}

.hero img{
    display: block;
    width: 100%;
    height: auto;
    float: right;
}
.logo img {
    justify-content: left;
	height: 64px;
	width: auto;
}
.sociallinks a{
    text-decoration: none;

}