:root{
    --primary-color-one: #FCFCF9;
    --primary-color-two: #0070BB;
    --accent-color-one: #FFD800;
    --accent-color-two: #8a7642;
    --heading-font: "Noto Sans", sans-serif;
    --text-font: "Fira sans condensed", sans-serif;

}
body{
    margin: 1rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 400;
    background-color: var(--primary-color-one);
}
h1, h2, h3, h4, h5{
    font-family: "Noto Sans", sans-serif;
    font-weight: 100;
    background-color: var(--accent-color-one);
    color: var(--accent-color-two);
}
p{
    color: var(--primary-color-two);
}
a{
    color: var(--primary-color-one);
}
img{
    max-width: 1000px;
    height: auto;
}

header{
        margin: 1rem auto;
        display: grid;
        grid-template: 1fr / 1fr 2fr;
        border-bottom: 1px solid black;
        max-width: 1000px;
        background-color: var(--primary-color-two);
}
header nav{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
header nav a{
    border: 1px solid black;
    padding: 1rem;
}
article{
    background-color: rgba(48, 42, 24, 0.759);
}
article p{
    color: var(--primary-color-one);
}
footer{
    margin-top: 10px;
    border-top: 1px solid var(--accent-color-two);
    text-align: center;
}
footer img{
    max-width: 100px;
    float: right;
}
.hero{
    position: relative;
}
.hero h1{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.457);
    color: var(--primary-color-one);
    position: absolute;
    top: 1rem;
    left: 50px;
}
.hero article{
    position: absolute;
    top: 100px;
    left: 50px;
    padding: 1rem;
}
.hero img{
    width: 100%;
    height: auto;
}
.hero article img{
    float: right;
    height: 100%;
    width: auto;
}
.logo img {
    justify-content: left;
	height: 64px;
	width: auto;
}
.sociallinks a{
    text-decoration: none;

}
form{
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .3rem;
    background-color: blanchedalmond;
    display: grid;
}
fieldset{
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: 1px solid rgba(0,0,0,.3);
    padding: 1rem;
}
label, input, button, textarea{
    font-family: Arial, Helvetica, sans-serif;
}
label{
    text-align: left;
    padding-right: 1rem;
}
input, select, textarea{
    padding: 0.5rem;
    font-size: 1.1rem;
}
input[type="checkbox"]{
    width: 22px;
    height: 22px;
}
button{
    margin: 1rem;
    background-color: royalblue;
    color: white;
    border: none;
    border-radius: .4rem;
    padding: .75rem;
    font-size: 1.2rem;
}
button:hover{
    background-color: darkolivegreen;
}
.form-item{
    display: grid;
    align-items: center;
}
